
/* цвет основного текста #212121* /
/* вторичный цвет текста #757575* /
/* дополнительные цвета текста #FFFFFF #2196F3 */

/* цвет основного фона #F5F5F5 */
/* вторичный цвет фона #2F303A */

/* цвет акцента #2196F3 */

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
    --primary-text-color:#212121;
    --title-text-color:#757575;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --secondary-black-color: #2F303A;
    --section-color: #F5F4FA;
    --color-address-footer: rgba(255, 255, 255, 0.6);
    --secondary-accent-color: #188CE8;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    background-color: var(--primary-white-color);
    color: var(--title-text-color);
}

        
/* Header */



.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.head {
    border-bottom: 1px solid #ECECEC;
}
.header {
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 93px;

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    }
.logo-first {
    color: var(--accent-color);
    }
.logo-second {
    color: var(--primary-text-color);
    }

ul {
    list-style: none;
    }

.nav {
    display: flex;
    gap: 50px;
    margin: 0;
    padding-left: 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link-nav {
    display: block;
    padding: 32px 0;
        
    color: var(--primary-text-color);
    text-decoration: none;
    }

.link-nav:hover {
    color: var(--accent-color);
    }
.link-nav:pointer {
    cursor: pointer;
    }
.link-nav:focus {
    color: var(--accent-color);
}

.link-current {
    display: block;
    padding: 32px 0;
    
    color: var(--accent-color);
    text-decoration: none;
}

.contacts {
    margin: 0;
    display: flex;
    gap: 50px;
    margin-left: auto;
    padding-left: 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts-link {
    display: block;
    padding: 32px 0;

    color: var(--title-text-color);
    text-decoration: none;
}
.contacts-link:hover {
    color: var(--accent-color);
}
.contacts-link:pointer {
    cursor: pointer;
}
.contacts-link:focus {
    color: var(--accent-color);
}


/* Make an order */

.main-section {
    padding-top: 200px;
    padding-bottom: 280px;

    text-align: center;
    background-color: var(--secondary-black-color);
}
.main-section-text {
    margin: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;

    color: var(--primary-white-color);
}
.button-order {
    padding: 10px 32px;
    border-radius: 4px;
    border: none;

    background: var(--accent-color);
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.button-order:hover {
    background: var(--secondary-accent-color);
}
.button-order:focus {
    background: var(--secondary-accent-color);
}

/* Features */

.features-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-container {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.feature {
    margin: 0 0 10px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--primary-text-color);
}
.features-description {
    width: 270px;
    margin: 0;
}
.features-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 0 0 30px 0;

    width: 270px;
    height: 120px;

    background: var(--section-color);
    border-radius: 4px;
}



/* What we do */

.work {
    padding-bottom: 94px;
}
.our-work-title {
    margin: 0 0 50px 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}
.our-work-image {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}
.our-work-link > img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Team */

.team {
    padding: 94px 0 94px 0;

    background: var(--section-color);
}

.our-team-title {
    margin: 0 0 50px 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
   
    color: var(--primary-text-color);
}
.our-team {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}
.card {
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.employee {
    padding: 30px 0 30px 0;
}
.our-team-employee {
    margin: 0 0 10px 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
   
    color: var(--primary-text-color);
}
.our-team-position {
    margin: 0;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    color:var(--title-text-color);
}
.customers {
    padding: 94px 0 94px 0;

}
.customers-title {
    margin: 0 0 50px 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    color: var(--primary-text-color);
}
.customer-cards {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}
.customer-card {
    box-sizing: border-box;

    border: 1px solid #AFB1B8;
    border-radius: 4px;
}



/* Footer */

.footer {
    padding: 60px 0 60px 0;

    background: var(--secondary-black-color);
}
.logo-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--accent-color);
}
.logo-footer-second {
    color: var(--primary-white-color);
}
.address {
    padding: 0;
    margin: 20px 0 0 0;
}
.contacts-list {
    padding: 0;
    margin: 0;
}
.list-item {
    margin: 0 0 9px 0;
}
.list-item:last-child {
    margin-bottom: 0;
}
.address-link {

    font-style: normal;
    color: var(--primary-white-color);
    text-decoration: none;
}
.address-link:hover {
    color: var(--accent-color);
    }
.address-link:focus {
    color: var(--accent-color);
}
.address-link:pointer {
    cursor: pointer;
}
.address-link-mail,
.address-link-tel {
    font-style: normal;
    color: var(--color-address-footer);
    text-decoration: none;
}
.address-link-mail:hover,
.address-link-tel:hover {
    color: var(--accent-color);
}
.address-link-mail:focus,
.address-link-tel:focus {
    color: var(--accent-color);
}
.address-link-mail:pointer,
.address-link-tel:pointer {
    cursor: pointer;
}

/* Portfolio */

.portfolio {
    padding: 94px 0 94px 0;
}

.portfolio-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.portfolio-filter {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 0 0 50px 0;
    padding: 0;
}
.portfolio-filter-button-all,
.portfolio-filter-button-web,
.portfolio-filter-button-app,
.portfolio-filter-button-design,
.portfolio-filter-button-market {
    background: var(--section-color);
    color: var(--primary-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    border: none;

}
.portfolio-filter-button-all:hover,
.portfolio-filter-button-web:hover,
.portfolio-filter-button-app:hover,
.portfolio-filter-button-design:hover,
.portfolio-filter-button-market:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-filter-button-all:focus,
.portfolio-filter-button-web:focus,
.portfolio-filter-button-app:focus,
.portfolio-filter-button-design:focus,
.portfolio-filter-button-market:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-filter-button-all {
    margin: 0;
    padding: 6px 25px;
}
.portfolio-filter-button-web {
    margin: 0;
    padding: 6px 22px;
}
.portfolio-filter-button-app {
    margin: 0;
    padding: 6px 22px;
}
.portfolio-filter-button-design {
    margin: 0;
    padding: 6px 22px; 
}
.portfolio-filter-button-market {
    margin: 0;
    padding: 6px 22px;
}

/* Projects */

.portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.portfolio-card {
    width: 370px;
    background: var(--primary-white-color);
}
.portfolio-card > img {
    display: block;
    max-width: 100%;
    height: auto;
}
.project-card {
    padding: 20px 24px 20px 24px;
    margin: 0;

    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;;
    border-bottom: 1px solid #EEEEEE;;

}
.project {
    margin: 0 0 4px 0;

    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--primary-text-color);
}
.project-description {
    margin: 0;

    text-align: left;
    font-size: 16px;
    line-height: 1.88;

    color: var(--title-text-color);
}
